.todo-app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.create-todo-app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  /* border: 1px solid #ccc;
  border-radius: 10px; */
  margin-right: 15px;
}

.todo-list-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  /* border: 1px solid #ccc;
  border-radius: 10px; */
  height: 86px;
  /* width: 200px; */
}