.solo-todos-in-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid blue;
  margin-bottom: 5px;
}

.fields-todo {
  display: grid;
  margin-right: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  /* grid-row-gap: 5px; */
  align-items: center;
}

.buttons-todo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-note {
  grid-column: 1 / span 2;
  width: 97%;
}