.active-ticket-component {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 93%;
}

.active-ticket-wrapper {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  width: 100%;
  background-color: rgb(221, 243, 252);
  border-radius: 15px;
  align-items: center;
  padding: 70px 20px 0 20px;
}

.messages-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.initial-message>p {
  margin: 0px;
  padding: 0px;
}

.initial-message {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 88%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0px 4px 14px 0px rgb(79 79 79 / 25%);
}

.message-container-right {
  float: right !important;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px;
  width: 88%;
  margin-bottom: 15px;
  box-shadow: 0px 4px 14px 0px rgb(79 79 79 / 25%);
}

.message-container-left {
  float: right !important;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px;
  width: 88%;
  margin-bottom: 15px;
  box-shadow: 0px 4px 14px 0px rgb(79 79 79 / 25%);
}

.message-container-right>p {
  margin: 0px;
  padding: 0px;
}

.message-container-left>p {
  margin: 0px;
  padding: 0px;
}

/* .create-message-ticket {
  display: flex;
  flex-grow: inherit;
} */
