.login-app {
  margin-top: 18px;
  margin-bottom: 17px;
  display: flex;
}

.user-login {
  display: flex;
  background-color: rgb(221, 243, 252);
  border-radius: 40px;
  width: 350px;
  height: 400px;
  flex-direction: column;
  padding: 18px;
  box-shadow: 0px 3px 18px 0px rgb(0 0 0 / 19%);
  justify-content: center;
}

.user-login>label {
  font-size: 50px;
}

.form-information {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

#login-header {
  padding: 0 0 0 4px;
}

.email-input {
  display: flex;
  height: 45px;
  font-size: 17px;
  margin-bottom: 15px;
  position: relative;
}

.email-input .inputEmail {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #777;
  box-shadow: none !important;
  padding: 17px 6px 0px 6px;
}

.email-input .inputEmail:focus {
  border-color: none;
  padding: 17px 6px 0px 7px;
}

.email-input .floating-label-email {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 6px;
  transition: 0.2s ease all;
}

.email-input input:focus~.floating-label-email,
.email-input input:not(:focus):valid~.floating-label-email {
  top: 0px;
  left: 6px;
  color: rgba(0, 0, 0, 0.423);
  font-size: 14px;
  opacity: 1;
}

.password-input {
  display: flex;
  height: 45px;
  font-size: 17px;
  margin-bottom: 15px;
  position: relative;
}

.password-input .inputPassword {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #777;
  box-shadow: none !important;
  padding: 17px 6px 0px 7px;
}

.password-input .inputPassword:focus {
  border-color: none;
  padding: 17px 6px 0px 7px;
}

.password-input .floating-label-password {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 6px;
  transition: 0.2s ease all;
}

.password-input input:focus~.floating-label-password,
.password-input input:not(:focus):valid~.floating-label-password {
  top: 0px;
  left: 6px;
  color: rgba(0, 0, 0, 0.423);
  font-size: 14px;
  opacity: 1;
}

.login {
  margin-top: 15px;
  margin-left: 3px;
  border: none;
  background-color: black;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 65px;
  border-radius: 30px;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register {
  border: none;
  background-color: transparent;
}

.forgot {
  border: none;
  background-color: transparent;
}

.send-button {
  margin-top: 10px;
  display: flex;
  align-self: center;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.802);
  cursor: pointer;
}